
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="menu-inf-user">
                            <div class="row">
                                <div class="logo-inf">
                                    <a href="#"><img src="./public/images/g7.jpg" alt="" /></a>
                                    <a href="inf_account.html" style="margin: 5px 120px; text-decoration: none;"> vip</a
                    >
                  </div>
                </div>
                <hr />
                <div class="row">
                <ul class="menu-inf">
                    {{#if this.account_level}}
                        <li>
                        <a href="/account/info={{lcAuthUser.account_id}}">Thông tin</a>
                        </li>
                        <li>
                            <a href="/post/up">Đăng Bài viết</a>
                        </li>
                        <li>
                            <a href="/account/baivietcuaminh?id={{lcAuthUser.account_id}}">Các Bài viết</a>
                        </li>
                        <li>
                            <a href="/account/doipass">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="logout" style="color: red;">Đăng xuất</a>
                        </li>
                    {{else}}
                        <li>
                        <a href="/account/info={{lcAuthUser.account_id}}">Thông tin</a>
                        </li>
                        <li>
                            <a href="/vip/kt">Thông tin VIP</a>
                        </li>
                        <li>
                            <a href="/account/doipass">Đổi mật khẩu</a>
                        </li>
                        <li>
                            <a href="logout" style="color: red;">Đăng xuất</a>
                        </li>
                    {{/if}}
                </ul>
                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="main-inf">
                                <div class="row">
                                    <h2>Thông tin cá nhân</h2>
                                </div>
                                <hr />
                                <div class="row">
                                    <table class="main-inf-form" id="ttchinh">
                                        <tr>
                                            <th>Thông tin</th>

                                            <th>
                                                <button class="chinhsua fas fa-pen" onclick="showedit()" type="submit"></button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Tên</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_name}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_email}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_address}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_phone}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ngày Sinh</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_birthday}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                    <form method="POST" class="inf" id="chinhsua">
                                        <table class="edit-inf-form">
                                            <tr>
                                                <th>Thông tin</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>Tên</td>
                                                <td>
                                                    <input type="text" name="ten" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>
                                                    <input type="text" name="address" id="address" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Phone</td>
                                                <td>
                                                    <input type="number" name="phone" id="phone" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ngày Sinh</td>
                                                <td>
                                                    <input type="date" name="ngaysinh" id="ngaysinh" value="" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="group-btn">
                                            <button class="btn btn-primary" type="submit" style="width: 100px;" type="submit">
                                                Lưu
                                            </button>
                                            <a class="btn btn-danger" href="/account/info={{lcAuthUser.account_id}}" style="width: 100px;" >
                                                Đóng
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


