    {{!-- banner --}}
    {{> banner}}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="main-cnt">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="menu-cnt">
                                        <div class="main-menu-cnt">
                                            <h4 class="main-menu-cnt-title">
                                                New Post
                                            </h4>
                                        </div>
                                        <ul class="sub-menu-cnt">
                                            <li><a href="/index?page={{this.page.first}}">First</a></li>
                                            <li><a href="/index?page={{this.page.previous}}">Previous</a></li>
                                            {{#each this.page.count_items}}
                                                <li><a href="/index?page={{id}}">page {{id}}</a></li>
                                            {{/each}}
                                            <li><a href="/index?page={{this.page.next}}">Next</a></li>
                                            <li><a href="/index?page={{this.page.last}}">Last</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="post " id="get_post_view" name="{{this.page.limit}}">
                                {{#each this.page.posts}}
                                <div class="row hoverSomething" id="post_view{{id}}" name="{{post.post_id}}_{{post.post_level}}">
                                    <div class="col-md-5">
                                        <div class="img">
                                            <a><img src="images/{{post.post_image}}" alt=" " /></a>
                                            </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="decs">
                                            <a href="/post/post={{post.post_id}}">
                                                <p>
                                                    {{post.post_name}}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hig">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="name-hig">
                                        <h4>Tin nổi bật</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="post-hig">
                                {{#each this.page.posts_hot}}
                                <div class="row posthig hoverSomething" >
                                    <div class="col-md-5">
                                        <div class="img">
                                            <a href="/post/post={{postHot.post_id}}"><img src="images/{{postHot.post_image}}" alt=" " /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="decs">
                                            <a href="/post/post={{postHot.post_id}}">
                                                <p>
                                                    {{postHot.post_name}}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>