    {{!-- banner --}}
    {{> banner}}
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="main-cnt">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="menu-cnt">
                                        <div class="main-menu-cnt">
                                            <h4 class="main-menu-cnt-title">
                                                Bài Viết Mới Nhất
                                            </h4>
                                        </div>

                                        <div class="sub-menu-cnt">

                                            <a href="{{this.page.url}}page={{this.page.first}}">First</a>
                                            <a href="{{this.page.url}}page={{this.page.previous}}">Previous</a>
                                            {{#each this.page.count_items}}
                                                <a href="{{../page.url}}page={{id}}">page {{id}}</a>
                                            {{/each}}
                                            <a href="{{this.page.url}}page={{this.page.next}}">Next</a>
                                            <a href="{{this.page.url}}page={{this.page.last}}">Last</a>
                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="posts">
                                {{#each this.page.posts}}
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="img">
                                            <a href="/post/post={{post_id}}"><img src="images/{{post_image}}" alt=" " /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="decs">
                                            <div class="post_cates">
                                                 <a style="font-size:0.8em;" href="">[{{category_name}}]</a> -
                                                <label style="font-size:0.8em;" for="">{{post_browse}} </label>
                                            </div>
                                            <a href="/post/post={{post_id}}">
                                                <p style="color:#D1090B; font-size:1.4em">
                                                   {{post_name}} <br>
                                                </p>
                                            </a>
                                            <a href="/post/post={{post_id}}">
                                            <p>{{post_meta}}</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        <div class="main-cnt" style="margin-top: 10px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="menu-cnt">
                                        <div class="main-menu-cnt">
                                            <h4 class="main-menu-cnt-title">
                                                Bài viết theo chuyên mục
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="sub-menu-cnt">
                                    {{#each this.page.categories}}
                                        {{#if empty}}
                                             {{#each categoriesSub}}  
                                                    <a id="{{category_id}}&name={{category_slug}}">{{category_name}}</a>
                                            {{/each}}
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                            <div class="posts">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="img">
                                            <a href="./posts.html "><img src="./public/images/IMG_20200615_185215.jpg " alt=" " /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="decs">
                                            <a href=" ">
                                                <p>
                                                    Tiêu đề nè
                                                </p>
                                                <p> mô tả bài viết nè</p>
                                            </a>
                                            <div class="post_cates">
                                                <a href="">chuyên đề</a>
                                                <label for="">Ngày viết</label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                       

                </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="hig">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="name-hig">
                                        <h4>Tin nổi bật</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="posts-hig">
                                 {{#each this.page.posts_hot}}
                               <div class="row posthig" style="padding:5px">
                                    <div class="col-md-3">
                                        <div class="img">
                                           <a href="/post/post={{post_id}}"><img src="images/{{post_image}}" alt=" " /></a>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="decs">
                                            <div class="post_cates">
                                                 <a style="font-size:0.8em;" href="">[{{category_name}}]</a>-
                                                <label style="font-size:0.8em;" for="">{{post_browse}} </label>
                                            </div>
                                            <a href="/post/post={{post_id}}">
                                                <p style="color:#D1090B;">
                                                    {{post_name}}
                                                </p>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                             {{/each}}
                        </div>
                        </div>

                        {{#if this.page.emptyPostView}}
                        <div class="views-post" style="margin-top: 15px;">
                            <div class="row">
                                <h4>Bài viết xem nhiều</h4>
                            </div>

                            {{#each this.page.posts_view}}
                            <div class="row postsviews" style="padding:5px">
                                <div class="col-md-3">
                                    <div class="img">
                                        <a href="/post/post={{post_id}}"><img src="images/{{post_image}}" alt=" " /></a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="decs">
                                        <div class="post_cates">
                                                 <a style="font-size:0.8em;" href="">[{{category_name}}]</a>-
                                                <label style="font-size:0.8em;" for="">{{post_browse}} </label>
                                            </div>
                                            <a href="/post/post={{post_id}}">
                                                <p style="color:#D1090B;">
                                                    {{post_name}}
                                                </p>
                                            </a>
                                    </div>

                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>