<div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="main-posts">
                            <h2>{{page.post.post_name}}</h2>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="main-content">
                                      {{{page.post.post_decs}}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {{!-- ----------------------------------------- --}}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tag-content">
                                        Từ khóa:
                                        {{#each page.hastags}}
                                            <a href="../hastag?name={{hastag}}">#{{hastag}}</a>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            {{!-- ------------------------------------------ --}}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="relate-posts">
                                        <h3>Bài viết liên quan</h3>
                                        <div class="row">
                                            {{#each page.postConnection}}
                                            <div class="col-md-6">
                                                <div class="img-relate"></div>
                                                <div class="content-relate">
                                                    <ol> <a href="../post/post={{post_id}}">{{post_name}}</a></ol>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- --------------------------------------- --}}
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="commnet">
                                        {{#each page.postComment}}
                                        <div class="col-md-4">
                                <div class="img">
                                    <a><img src="images/{{account_image}}" alt=" " /></a>
                                </div>
                                    </div>
                                        <div class="col-md-7">
                                         <div class="decs">
                                             <a>
                                        <p>
                                            {{account_name}}: {{content}}
                                        </p>
                                            </a>
                                        </div>
                                    </div>
                                    {{/each}}
                                        </div>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
